@import "./bootstrap.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;

  > * {
    flex-shrink: 0;
  }
  > *:not(footer):not(header) {
    flex-grow: 1;
  }
}

p {
  white-space: pre-wrap;
}

.text-extra-large {
  font-size: 5rem;
}