@import "./variables.scss";

.section {
    position: relative;
    margin-top: -1.5rem;
}

.text {
    background: radial-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    color: lighten($color: $secondary, $amount: 10);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;

    button {
        color: $secondary;
    }
}