@import "./variables.scss";

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: -1.5rem;
    overflow: hidden;
    min-height: 320px;
}

.image {
    z-index: -1;
}

.text {
    color: darken($color: $primary, $amount: 10);
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1rem;

    button {
        color: $primary;
    }
}